@inherits Umbraco.Web.Macros.PartialViewMacroPage


@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers

@{
    var loginModel = new LoginModel();
    
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("/umbraco_client/ui/jquery.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.min.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js");
}


@if (!Umbraco.MemberIsLoggedOn()) {
using (Html.BeginUmbracoForm<UmbLoginController>("HandleLogin"))
{
    <fieldset class="row align-items-centerjustify-content-xl-center" >
        <legend>Login</legend>

        @Html.LabelFor(m => loginModel.Username)
        @Html.TextBoxFor(m => loginModel.Username, new { @Class = "form-control-sm" })
        <div class="text-danger">
            @Html.ValidationMessageFor(m => loginModel.Username)
        </div>
        <br />

        @Html.LabelFor(m => loginModel.Password)
        @Html.PasswordFor(m => loginModel.Password, new { @Class="form-control-sm"})
        <div class="text-danger">
            @Html.ValidationMessageFor(m => loginModel.Password)
        </div>
        <br />
        <div class="text-danger">

            @Html.ValidationSummary("loginModel", true)</div>

        <input type="Submit" class="my-2 btn btn-primary mb-2" value="Login"/>
    </fieldset>
    }
}
else
{
    using (Html.BeginUmbracoForm<UmbLoginController>("HandleLogout"))
    {
        var logoutModel = new PostRedirectModel();

        <fieldset>
            <legend>You are currently logged in as @Members.GetCurrentLoginStatus().Name</legend>
            @using (Html.BeginUmbracoForm<UmbLoginStatusController>("HandleLogout"))
            {
                logoutModel.RedirectUrl= "/";
            <button class="my-2 btn btn-primary mb-2" >Logout</button>
            @Html.HiddenFor(m => logoutModel.RedirectUrl)
           }
        </fieldset>
    }
}